body {
    height: 100%;
    margin: 0;
    background-color: #9fddf9;
    font-family: ibmFont;
 }
 
 .fluid-container{
    background-image: url("../pictures/bg/bg.png");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
 }

 .cardholder{
    padding:10%;
 }

 

@font-face {
    font-family: ibmFont;
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  }
  
  @font-face {
    font-family: ibmFont;
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: bold;
  }

 .navButton{
     transition-duration:.3s;
    }

.navButton:hover
    {
    transform:scale(1.1);
    }

.banner{
  margin-bottom: 2.5%;  
}