body {
    height: 100%;
    margin: 0;
    background-color: #9BE0FF;
    font-family: 'ibmFont';
   /* font-weight: bold; */
 }
 
 .fluid-container{
    background-image: url("../pictures/bg/side_bg.png");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
 }

 .cardholder{
    padding:10%;
 }

 

@font-face {
    font-family: ibmFont;

    src: url('../fonts/IBM_Plex_Sans/Regular/IBMPlexSans-Regular.eot') format('embedded-opentype'),
      url('../fonts/IBM_Plex_Sans/Regular/IBMPlexSans-Regular.eot'),
     url('../fonts/IBM_Plex_Sans/Regular/IBMPlexSans-Regular.woff') format('woff'), 
     url('../fonts/IBM_Plex_Sans/Regular/IBMPlexSans-Regular.ttf')  format('truetype'),
     url('../IBM_Plex_Sans/Regular/IBMPlexSans-Regular.Bold') format('svg');
  }
  
  @font-face {
    font-family: ibmFont;
    src: url('../fonts/IBM_Plex_Sans/Bold/IBMPlexSans-Bold.eot') format('embedded-opentype'),
      url('../fonts/IBM_Plex_Sans/Bold/IBMPlexSans-Bold.eot'),
     url('../fonts/IBM_Plex_Sans/Bold/IBMPlexSans-Bold.woff') format('woff'), 
     url('../fonts/IBM_Plex_Sans/Bold/IBMPlexSans-Bold.ttf')  format('truetype'),
     url('../IBM_Plex_Sans/Regular/Bold/IBMPlexSans-Bold.Bold') format('svg');
    font-weight: bold;
  }

 .navButton{
     transition-duration:.3s;
    }

.navButton:hover
    {
    transform:scale(1.1);
    }

.banner{
  margin-bottom: 2.5%;  
}